<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotel_management_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--        tools:ignore="ScopedStorage" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelManagementApplication">
        <activity
            android:name=".activities.ViewAllRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RoomServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RoomPageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RequestedBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageCurrentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CurrentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ApproveBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminManageRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllBookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>